*.env
*.pdf
__pycache__
.idea
benchmark/results
gpt-researcher/gpt-researcher.env
gpt-researcher/logs
gpt-researcher/outputs
litellm/litellm.env
litellm/litellm-claude.env
litellm/litellm-db.env
models
open-terminal/open-terminal.env
open-webui/data
open-webui/open-webui.env
preset-*uncensored*
ssh/config/id_*
ssh/config/known_hosts
ssh/config/private.conf
