.idea
gpt-researcher/gpt-researcher.env
gpt-researcher/logs
gpt-researcher/outputs
litellm/litellm.env
litellm/litellm-claude.env
litellm/litellm-db.env
llama-cpp/llama-cpp.env
llama-cpp-radeon-vii/llama-cpp.env
models
open-terminal/open-terminal.env
open-webui/data
open-webui/open-webui.env
